 <h1>Listing Groups</h1>
<div class="container">
 <div id="group-form" >
            <%= form_for(@group) do |f| %>
    <% if @group.errors.any? %>
      <div id="error_explanation">

        <ul>
    
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
     
            <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <% @groups.each do |group| %>
              <% if group.user_id == current_user.id %>
              <%= group.name %> <br><br>
               <% end %>
               <%end%>
            </div>
           
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
              <% @groups.each do |group| %> 
              <% if group.user_id == current_user.id %>
            <div class="btn-group">
                  <%= link_to "Display", group,:class => "btn btn-primary", :method => :get %> 
                  
                  <%= link_to "Delete", group,:class => "btn btn-success", :method => :delete , data: { confirm: 'Are you sure?' } %> 
                    <br><br>
                  <% end %>
                  <% end %>
            </div>
          </div>
            
        </div>
    </div>
    
       
  </div> 

</div>


