<p id="notice"><%= notice %></p>

<div class="container"> 
  <div class="row"></div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <div class="panel panel-default">
        <div class="panel-body">
          <strong>Group name:</strong> 
            <%= @group.name %>
        </div>
    </div>

  </div>
</div>

<h1>Listing Groups</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div id="group-form" >
        <%= form_for Group.new  do |f| %>
        <% if @group.errors.any? %>
          <div id="error_explanation">
            <ul>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.submit :class => 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
     
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-2">
              <% @groups.each do |group| %>
              <% if group.user_id == current_user.id %>
              <%= group.name %> <br><br>
               <% end %>
               <% end %>
            </div>
           
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
              <% @groups.each do |group| %> 
              <% if group.user_id == current_user.id %>
            <div class="btn-group">
                  <%= link_to "Display", group,:class => "btn btn-primary", :method => :get %> 
                  
                  <%= link_to "Delete", group,:class => "btn btn-success", :method => :delete , data: { confirm: 'Are you sure?' } %> 
                    <br><br>
                  <% end %>
                  <% end %>
            </div>
          </div>
            
        </div>
 
  

    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <!-- <input type="text"></input>  -->
    
      <div> 
      <%= form_for User.new, url: new_member_group_path(@group.id) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        <%= f.submit  :class => 'btn btn-primary' %>
        </div>
      <% end %>


<fieldset class="col-sm-12" style="overflow-y: scroll; margin-top:10px;">
  <legend>Friends Member:</legend>
  <% @usergroup.each do |user| %>
    <% if user.group_id == @group.id %>
    <% @users.each do |username| %>
    <% if username.id == user.user_id %>
    <div class="col-sm-4">
      <img class="col-sm-5" src="">
      <div class="col-sm-6">
        <span class="col-sm-12">
          <%= username.name %></span>
          <span class="col-sm-12" >
                <%= link_to "Delete", delete_member_group_path(user.id),:class => "btn btn-success", :method => :delete , data: { confirm: 'Are you sure?' } %> 
            </span>
        </div>
    </div>
   <% end %>
    <% end %>
     <% end %>       
  <% end %>
</fieldset>

      </div>

    </div>



       
  </div> 

</div>





