<p id="notice"><%= notice %></p>
<div class="container">
  <div class="page-header">
  <h1>Groups</h1>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div id="group-form" >
            <%= form_for Group.new do |f| %>
    <% if @group.errors.any? %>
      <div id="error_explanation">
        <ul>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
    <h5><%= f.label :name %></h5>
    <%= f.text_field :name, class: "form-control", placeholder: "Group Name" %>
  </div>
     <%= f.submit "Create Group", class: 'btn btn-default' %>
  <% end %>
  </div>
    </div>
</div>
<br/>
<div class="container">
  <div class="row">
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              <caption><h2>My Groups</h2></caption>
              <tbody>
                <% @groups.each do |group| %>
                  <% if group.user_id == current_user.id %>
                    <tr>
                      <td><%= group.name %></td>
                      <td>
                        <%= link_to "Display", group,:class => "btn btn-default", :method => :get %> 
                      </td>
                      <td>
                        <%= link_to "Delete", group,:class => "btn btn-danger", :method => :delete , data: { confirm: 'Are you sure?' } %> 
                      </td>
                    </tr>
                  <% end %>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>  
      </div>
      <div class="col-xs-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-9 col-xs-offset-2">
                <div class="row">
                  <div id="group-form" >
                    <%= form_for User.new, url: new_member_group_path(@group.id) do |f| %>
                      <div class="col-xs-8">
                        <div class="form-group">
                          <%= f.text_field :email, class: "form-control", placeholder: "Enter email here" %>
                        </div>
                      </div>
                      <div class="col-xs-3">
                          <%= f.submit "Add Friend", class: 'btn btn-default' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <h2>Friends Member</h2>
              <br/>
              <div class="row">
                <% @usergroup.each do |user| %>
                  <% if user.group_id == @group.id %>
                    <% @users.each do |username| %>
                      <% if username.id == user.user_id %>
                        <div class="col-xs-2">
                          <div class="container">
                            <h4><%= username.name %></h4>
                            <span id="follow_user<%=user.id%>">
                            <%= link_to(delete_member_group_path(user.id), class:'btn btn-danger', :method => :delete , data: { confirm: 'Are you sure?' }) do %>
                              <i class="icon-remove icon-white"></i>
                              Delete
                            <% end %></span><p></p>
                          </div>
                        </div>
                      <% end %>
                    <%end %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
