<%- model_class = User -%>
<div class="container">
  <div class="page-header">
  <h1>Friends</h1>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-md-4">
  <%= form_for User.new , url: users_newfollow_path do |f| %>
  <p>
  <div class="form-group">
    <h5><%= f.label :email %></h5>
    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
     <%= f.submit "Add Friend", class: 'btn btn-default' %>
</div>
</div>
  
  <!-- class :'btn btn-primary'  -->
</p>
<% end %><br/>

<div class="panel panel-default">
<div class="panel-heading">
  <div class="container">
    <h4>Friends List</h4>
  </div>
</div>
  <div class="panel-body">
  <br>
    <div class="row">
      <% @users.each do |user| %>
        <% unless user == current_user %>
        <% if current_user.following?(user) %>
          <div class="col-md-4">
            <div class="container">
              <h4><%= user.name %></h4>
              <span id="follow_user<%=user.id%>">
                <%= link_to(unfollow_user_path(user), :remote => true, :class => 'btn btn-danger') do %>
                  <i class="icon-remove icon-white"></i>
                  Un-Friend
                <% end %><p></p>
            </div>
          </div>
        
        <%end %>
      <% end %>
    <% end %>
</div>
  </div>

</div>
</div>
