<%= form_for @order, html: { multipart: true } do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Order_for %><br>
    <%= f.text_field :meal %>
  </div>
  <div class="field">
    <%= f.label :From %><br>
    <%= f.text_field :restaurant %>
  </div>
 <!-- <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div> -->
  <div class="field">
    <%= f.label :Friends %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :Menu %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
