<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
  <h1>Order Details</h1>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
        <caption><h4>Items</h4></caption>
        <thead>
          <tr>
      <th>Person</th>
      <th>Item</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
        </thead>
        <tbody>
          <%= render @order.items %>
        </tbody>
      </table>
      </div>
    </div>
    </div>
    <div class="col-md-4"><br/><br/><br/>
      <div class="container">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#invited">Invited</button>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#joined">Joined</button>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="container">
  <div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Add Item</h4>
    <% if @isJoined %>
<%= form_for(@item, url: order_items_path(@order.id)) do |f| %>
  <div class="field col-md-3">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Item name" %>
  </div>
  <div class="field col-md-1">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, class: "form-control", placeholder: "Amount" %>
  </div>
  <div class="field col-md-2">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control", placeholder: "Price" %>
  </div>
  <div class="field col-md-4">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control", placeholder: "Comment" %>
  </div>
  <div class="actions col-md-2">
  <br/><br/>
    <%= f.submit "Add Item", class: "btn btn-default" %>
  </div>
<% end %>
<% end %>
    </div>
  </div>
  </div>
</div>
<p>
  <!--<strong>Meal:</strong>
  <%= @order.meal %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant %>
</p>


<p>
  <strong>Status:</strong>
  <%= @order.status %>

</p>-->


<div class="container">
  <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-1">
      <%= link_to 'Back', orders_path %>
    </div>
    <div class="col-md-5">
      <%= image_tag @order.image.url(:medium) %>
    </div>
  </div>
</div>



<div id="invited" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invited</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
              <tr>
                <th>User</th>
                  <th>email</th>
                  <th>Delete</th>
                  <th>Join</th>
              </tr>
          </thead>
          <tbody>
            <% @invitedFriends.each do |friend| %>
                  <tr>
                    <td><%= friend.name %></td>
                    <td><%= friend.email %></td>
                    <td><%= if current_user.id == @order.user_id
                              link_to 'remove',  removeUserfromorder_path(@order.id, friend.id), method: :delete, data: { confirm: 'Are you sure?' }
                            end %></td>
                    <td><%= if current_user.id == friend.id && !@isJoined
                              link_to 'Join',  joinuserinorder_path(@order.id, friend.id), method: :put 
                            end %></td>
                  </tr>
              <% end %>
          </tbody>
          
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="joined" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Joined</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
              <tr>
                <th>User</th>
                  <th>email</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
            <% @joinedFriends.each do |friend| %>
                  <tr>
                    <td><%= friend.name %></td>
                    <td><%= friend.email %></td>
                    <td><%=  if current_user.id == @order.user_id
                               link_to 'Destroy',  removeUserfromorder_path(@order.id, friend.id), method: :delete, data: { confirm: 'Are you sure?' } 
                               end %></td>
                  </tr>
              <% end %>
          </tbody>
          
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



