<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Order</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.user_id %></td>
        <td><%= item.order_id %></td>
        <td><%= item.quantity %></td>
        <td><%= item.price %></td>
        <td><%= item.comment %></td>
        <td><%= link_to 'Show', order_items_path %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @items %>
<br>

<%= link_to 'New Item', new_order_item_path %>
