<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/nav' %>
    <% if user_signed_in? %>
      <script type="text/javascript">

        var firstTime = true        

        var myId = "<%= current_user.id %>"

        var notificationTalking = new Entangled('ws://localhost:3000/users/'+myId+'/notifications');
        

        var readNotification = function(notificationId ,orderId){
           notificationTalking.find( notificationId , function(err, notification) {
              
              //console.log(notification)

              notification.$update({ isRead: true }, function(err, notification) {
                // Do stuff after update
              
            });


           });
            window.location.replace("/orders/"+orderId)
          
        }



        var NotificationsWrapper = function(){
          var that = this;

          this.isNotificationsClicked = function(){
            return $("#notifications").hasClass("open")
                                 
          }

          this.seeAllNotifications = function(){
            $.ajax({url: '<%= "/notifications/#{current_user.id}/clear" %>'});
          }
          this.setNotificationScene = function (num) {
            if(num == 0){
              num="";
            }
            $("#UnSeenNotifications").html(num+"")
          }
          
          this.checkNotifictionClicks = function(){
            if(this.isNotificationsClicked()){
              this.seeAllNotifications();
              this.setNotificationScene(0);              
            }

            setTimeout(function(){that.checkNotifictionClicks()},100)
          }

        }
        var noteWrapper = new NotificationsWrapper();
        noteWrapper.checkNotifictionClicks();

  


        notificationTalking.all( function(err, notifications) {
          // All messages available here
          var holder=document.getElementById("notifications");
          //var newHolder = '<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example<span class="caret"></span></button><ul class="dropdown-menu">'
          var newHolder = '<a id="noteClicker" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <%= fa_icon "bell-o" , :class => "fa-2x"%><span class="caret"></span></a><ul class="dropdown-menu">'

          var numberOfUnSeen = 0;
          var limitOfNotification = notifications.length-11;
          limitOfNotification = Math.max(0,limitOfNotification);
          var classes = "notif";

          for( var i = notifications.length-1 ; i >= limitOfNotification  ; i-- ){
            if(notifications[i].isRead){
              classes = "notif dark";              
            }
            else{
              classes = "notif"; 
            }

            if(!notifications[i].isRead|| true){
              newHolder += "<li class='"+classes+"' onclick="+"readNotification('"+notifications[i].id +"','"+notifications[i].orderId+"') >" + notifications[i].message+"</li>";
            if(!notifications[i].isSeen){
                numberOfUnSeen += 1;              
            }

              //console.log(notifications[i]);


            }
          }
          if($("#notifications").hasClass("open")){
               numberOfUnSeen = 0;              

          }
          if(numberOfUnSeen > 0 && !firstTime  ){
            new Audio('/Bell-ding.mp3').play();

          }
          if(firstTime){
            firstTime = false;
          }
          noteWrapper.setNotificationScene(numberOfUnSeen)
          //$("#UnSeenNotifications").html(numberOfUnSeen)


          newHolder += '<%= link_to "show all notifications" , "/allNotifications/#{current_user.id}" %>'
          newHolder += "</ul>";
          holder.innerHTML = newHolder;       

        
          

        });


        // Set up association  
        //usersTalking.hasMany('notificaions');
      
      </script>
    
    <% end %>



<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<div class="container"><%= yield :top_content %>
</div>

<div class="container">
    <h1><%= yield :header %></h1>
  <%= yield %>
</div>

<div class="push"></div>

</div>

</body>
</html>
